body {
  position: relative;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 5px 10px #ccc;
}

.fa-shopping-cart {
  padding: 1em;
  color: #34495E;
  font-size: 2em;
}
#badge {
  font-size: 20px;
  background: magenta;
  border-radius: 50%;
  padding: 6px;
  height: .7em;
  line-height: .7em;
  text-align: center;
  position: absolute;
  right: 0;
  top: 80px;
}
.fa-plus-circle {
  color: #008060;
}
.fa-minus-circle {
  color: #900C3F;
}
i {
  cursor: pointer;
  padding-left: 1em;
}
i:hover {
  color: black;
}

/* popup */
#cartSection {
  position: fixed;
  width: 90vw;
  min-height: 20vh;
  top: 15vh;
  left: 2vw;
  box-shadow: 0 5px 10px #ccc;
  background: #eee;
  padding: 1em;
}
#cart li {
  padding: 1em 1em 1em 0;
}
.hide {
  display: none;
}

/* product list */
ul {
  padding-left: 0;
}
li {
  padding: 1em;
  list-style-type: none;
}
#products li {
  border: 1px solid #eee;
}
#products figure {
  margin: 0;
}
#products p {
  margin: 0 0 .5em 0;
}
#products img {
  width: 300px;
}
#cartSection img {
  width: 50px;
  border-radius: 50%;
}